@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#burguer{
    display: none;
    color: black;
    font-size: 1.2rem;
}

#close{
    display: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

#menu-mobile{
    display: none;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 20px;
}

#menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#btn{
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: .4s;
    text-transform: uppercase;
}

#btn:hover{
    background-color: rgb(173, 172, 172);
}

@media screen and (max-width:620px){
    header{
        padding: 10px 30px;
    }
    #burguer{
        display: block;
        cursor: pointer;
    }

    #menu , #btn{
        display: none;
    }

    #menu-mobile{
        position: absolute;
        top: 70px;
        width: 100%;
        height: 100vh;
        background-color: rgb(194, 194, 194);
        transition: .6s;
        overflow-y: hidden;
        padding-top:30px;
    }

    #menu-mobile ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.3rem;
        text-align: center;
    }

    #menu-mobile ul li{
        border-bottom: 2px solid rgba(0,0,0, .05);
    }

    #menu-mobile > button{
        display: block;
        margin: 30px auto;
    }

    #menu-mobile.active{
        display: block;
    }
}