@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animation-box{
    0%{
        background-color: blue;
        
    }

    50%{
        background-color: purple;
        border-radius: 50% 0 50% 0;
        transform: rotate(.5turn);
    }

    100%{
        background-color: orange;
        border-radius: 50%;
        transform: rotate(1turn);
    }

    
}

@keyframes animation-box2{
    0%{
        border-radius: 0;
        transform: .5turn;
        background-image: linear-gradient(to top , purple , green , orange);
        
    }

    50%{
        border-radius: 0 50% 0 50%;
        transform: rotate(1turn);
        background-image: linear-gradient(to right , purple , green , orange);  
    }

    100%{
        border-radius: 50%;
        background-image: linear-gradient(to bottom , purple , green , orange);
    }
}
/* 
@keyframes animation-button{
    0%{
        transform: scale(1);
    }

    60%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
} */

div.box{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animation-box 5s infinite alternate;
    background-color: blue;
    height: 300px;
    width: 300px;
    border-radius: 5px;
}



div.box button{
    animation: animation-button 1s linear infinite;
    padding: 10px;
    background-color: orange;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.664);
    font-size: 2em;
    border-radius: 10px;
    cursor: pointer;
}